!!!
%html
  %head
  %title My Sinatra Website
  %body
  %ul
  %li <a href="message.haml">Contact</a> <a href="search.haml">Search</a>
  %p 
  %ul
  %li <a href="/http://www.sinatrarb.com/">ruby on sinatra</a>


   THis is the search result.