!!!
%html
  %head
  %title My Sinatra Website
  %body
  %h1 I  Welcome You to My first sinatra 
  %ul
  %li <a href="message.haml">Contact</a> <a href="search.haml">Search</a>
  <form action='/result'>
  <!-- <label for='user'>User Name:</label> -->
  <input name='user' value='' />
  <input type='submit' value="Search" />
  </form>
  
  
    