!!!
%html
  %head
  %title My Sinatra Website
  %body
  %ul
  %li <a href="message.haml">Contact</a> <a href="search.haml">Search</a>
  <form>
  First name: <input type="text" name="FirstName"><br>
  Email adress: <input type="text" name="Email adrees"><br>
  message: <textarea rows="5" cols="10"></textarea>
  </form>
  <button onclick="myFunction()">Send</button>
  <script>
  function myFunction()
  {
  alert("Your message hasbeen send succesfully!");
  }
  </script>